---
// Import all logos from the logos directory
const logos = await Astro.glob('/public/logos/*.{svg,png,jpg}');
---

<div class="flex flex-wrap justify-center items-center gap-8 py-16 mt-10">
  {
    logos.map((logo) => (
      <div class="company-logo w-32 h-16 flex items-center justify-center">
        <img
          src={typeof logo.default === 'string' ? logo.default : logo.default.src}
          alt="Company Logo"
          class="max-w-full max-h-full"
        />
      </div>
    ))
  }
</div>

<style>
  .company-logo :global(svg), .company-logo :global(svg) path {
    fill: #4b5563;
    color: #4b5563;
  }

  .company-logo {
    width:75px;
    margin: 0px 50px;
  }

  .company-logo img:not(:global(svg)) {
    filter: brightness(0) saturate(100%) invert(42%) sepia(4%) saturate(1241%) hue-rotate(182deg) brightness(87%) contrast(86%);
  }
</style>
